main {
  width: 100%;
  height: fit-content;
  background-color: black;
}

.loading-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#patience {
  width: 180px;
  padding: 20px 0 0 38px;
}

#vader {
  width: 600px;
  margin: 50px auto;
}

h2, span {
  font-family: impact;
}

span {
  color: #ccc8c8;
  font-size: 19px;
}

hr {
  width: 80%;
  border: 1.5px solid white;
}

.Containers {
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.cards {
  position: relative;
  background-color: #ffffff3b;
  width: 260px;
  height: 240px;
  padding-top: 7px;
  border-radius: 19px;
  margin: 10px;
  border: 2px solid white;
}

.cards:hover {
  cursor: pointer;
  background-color: #ffffffad;
  outline: none;
}

.target-img {
  width: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}